/*------------------------------------|
|	Grid                                |
|------------------------------------*/

.grid-container {
  list-style-type: none;
  text-align: center;
  @include clearfix;
  z-index: 2;
  margin-bottom: 15px;
  &:after {
    display: none;
  }
  @include mediaMin($bp-nav) {
    margin-bottom: 30px;
  }
}

.grid-full {
  @include column-full;
  .l-constrained--text {
    @include mediaMin($bp-phone-l) {
      max-width: 80%;
    }
    @include mediaMin($bp-laptop-s) {
      max-width: 60%;
    }
  }
}

.grid-quarter {
  @include column-quarter;
}

.grid-half {
  @include column-half;
  .l-constrained--text {
    @include mediaMin($bp-phone-l) {
      max-width: 80%;
    }
    @include mediaMin($bp-tablet-s) {
      max-width: 60%;
    }
    @include mediaMin($break-col-half-2) {
      max-width: 80%;
    }
    @include mediaMin($bp-laptop-s) {
      max-width: 60%;
    }
  }
}

.grid-third {
  @include column-third;
  .l-constrained--text {
    @include mediaMin($bp-phone-l) {
      max-width: 80%;
    }
    @include mediaMin($bp-nav) {
      max-width: 60%;
    }
    @include mediaMin($bp-tablet-xl) {
      max-width: none;
    }
  }
}

.grid-two-third {
  @include column-two-third;
  .l-constrained--text {
    @include mediaMin($bp-phone-l) {
      max-width: 80%;
    }
    @include mediaMin($bp-tablet-s) {
      max-width: 60%;
    }
    @include mediaMin($break-col-half-2) {
      max-width: 80%;
    }
    @include mediaMin($bp-laptop-s) {
      max-width: 70%;
    }
  }
}

.grid-third--nopad {
  @include column-third-nopad;
}

.grid-three-quarter {
  @include column-three-quarter;
}

.grid-fifth {
  @include column-fifth;
}

.grid-sixth {
  @include column-sixth;
}

.grid-half-listing {
  @include column-half-listing;
}

.grid-item, .grid-item--nopad {
  display: inline;
  overflow: hidden;
  font-size: 0;
}


.grid-item__inner {
  font-size: initial;
  vertical-align: top;
  position: relative;
  text-align: left;
}

.grid__varHeight {
  @include mediaMin($break-col-quarter-2) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.grid__listing {
  display: block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 15px;
  @include mediaMin($break-col-quarter-2) {
    width: 98%;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  @include mediaMin($bp-tablet-s) {
    display: inline-block;
    width: 49.3%;
    margin: 0;
  }
  @include mediaMin($bp-tablet-xl) {
    width: 55%;
  }
  @include mediaMin($bp-laptop-s) {
    width: 49.3%;
  }
}

.grid__map {
  display: block;
  vertical-align: top;
  width: 100%;
  margin-bottom: 15px;
  @include mediaMin($break-col-quarter-2) {
    width: 98%;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
  @include mediaMin($bp-tablet-s) {
    display: inline-block;
    width: 49.3%;
    margin-left: -5px;
    margin-right: 0;
    margin-bottom: 0;

  }
  @include mediaMin($bp-tablet-xl) {
    width: 44%;
  }
  @include mediaMin($bp-laptop-s) {
    width: 49.3%;
  }
}

.grid__scroll {
  overflow-y: scroll;
  max-height: 580px;
  @include mediaMin($bp-phone-l) {
    padding-left: 5px;
  }
  .grid-container:last-child {
    margin-bottom: 0;
  }
}

.grid__blog, .grid__events {
  .grid-third .grid-item__inner {
    margin-bottom: 30px;
  }
}

.grid__contact {
  .grid-half .grid-item__inner {
    @include mediaMax($bp-nav) {
      margin-bottom: 50px;
    }
  }
}

.grid__job {
  display: flex;
  align-items: center;
  .grid-item__main {
    width: 75%;
    margin-left: 50px;
    margin-right: 50px;
  }
  .grid-item__side {
    width: 25%;
    margin-left: 50px;
    margin-right: 50px;
  }
}