.acf-map {
  
  //filter: grayscale(100%);
}

.map__listing {
  width: 100%;
  height: 580px;
}

.map__block {
  height: 350px;
  width: 100%;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
