/*------------------------------------|
|	Sliders                             |
|------------------------------------*/
.l-slider__content {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  @include mediaMax($bp-phone-l) {
    @include center-element();
    min-width: 80%;
    top: 60%;
  }
  @include mediaMin($bp-phone-l) {
    position: absolute;
    top: 36%;
    right: 30px;
    left: 30px;
    min-height: 50%;
  }
  @include mediaMin($bp-tablet-s) {
    max-width: 41%;
    left: auto;
  }
  @include mediaMin($bp-tablet-m) {
    max-width: 44%;
  }
  @include mediaMin($bp-laptop-s) {
    top: 24%;
    min-height: 60%;
  }
}

.l-slider__image {
  position: relative;
}

.l-slider__text {
  max-width: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  @include mediaMin($bp-tablet-xl) {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  @include mediaMin($bp-laptop-s) {
    max-width: 80%;
  }
  h1, p {
    color: $brand-blue;
  }
  h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    @include font-size(25, 32, 225);
    @include mediaMin($bp-phone-l) {
      @include font-size(28, 32, 225);
    }
    @include mediaMin($bp-laptop-s) {
      @include font-size(32, 40, 225);
    }
  }
  p {
    @include font-size(18, 22, 0);
    @include mediaMin($bp-tablet-xl) {
      @include font-size(18, 26, 0);
    }
  }
}
