/*------------------------------------|
|	Sliders                             |
|------------------------------------*/
.l-slider__content {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  min-height: 60%;
  @include mediaMax($bp-tablet-s) {
    @include center-element();
    min-width: 80%;
  }
  @include mediaMin($bp-tablet-s) {
    @include center-vertical();
    max-width: 50%;
    right: 20px;
  }
  @include mediaMin($bp-tablet-m) {
    max-width: 45%;
  }
  @include mediaMin($bp-tablet-l) {
    max-width: 40%;
  }
}

.l-slider__image {
  position: relative;
}

.l-slider__text {
  max-width: 90%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 10px;
  @include mediaMin($bp-tablet-xl) {
    padding-top: 8%;
    padding-bottom: 7%;
    max-width: 80%;
  }
  h1, p {
    color: $brand-blue;
  }
  h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    @include font-size(25, 32, 225);
    @include mediaMin($bp-phone-l) {
      @include font-size(28, 32, 225);
    }
    @include mediaMin($bp-tablet-xl) {
      @include font-size(32, 43, 225);
    }
  }
  p {
    @include font-size(18, 22, 0);
    @include mediaMin($bp-tablet-xl) {
      @include font-size(20, 28, 0);
    }
  }
}
